---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { ABOUT, SITE, SOCIALS } from "@consts";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate">
        <div class="font-semibold text-black dark:text-white">
          About
        </div>
      </div>

      <div class="space-y-8">
        <section class="animate space-y-4">
          <div class="space-y-4 leading-6">
            <p>
              <mark>Actively seeking research opportunities in System and Software Security</mark>
              <img 
                src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbW9xYm4xdjB4Y2R2Y2tmNGJwNzZzZnFlbmQzOXZ1Z3pqeDY4eTI3aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JhORT5IFnj6ioko/giphy.gif" 
                alt="Man search for meaning" 
              />
            </p>
            <p>
              I am an undergraduate (final year) cyber security student at FAST National University working under the supervision of 
              Prof. Dr. Anam Qureshi.
            </p>
            <p>
              My research interest lies within AI Security/AI for Security, Application Security, 
              Reverse Engineering, Vulnerability Assessment, and Exploit Development.
            </p>
            <p>
              In addition, I enjoy playing Capture The Flag (CTF) competitions and currently 
              I am involved with team - pwnFAST
            </p>
            <p>
              Occasionally, I blog and (try to) document things I learn and build so that 
              I can reflect upon my journey (and maybe inspire fellow cyber security researchers).
            </p>
          </div>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Selected Achievements
          </h2>
          <div class="space-y-4 leading-6">
            <ul class="list-disc list-inside space-y-2 text-neutral-600 dark:text-neutral-400">
              <li><mark>1st Place</mark> in the inter-university Capture the Flag (CTF) competition organized by DevDay'24 FAST NUCES Karachi</li>
              <li><mark>Top 10%</mark> AWS DeepRacer Student Nationals March 2023</li>
            </ul>
          </div>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Get In Touch
          </h2>
          <div class="space-y-4 leading-6">
            <p>
              If you want to get in touch with me about something or just to say hi, reach out at:
            </p>
            <div class="flex flex-wrap gap-4">
              {SOCIALS.map((social) => (
                <Link 
                  href={social.HREF} 
                  external
                >
                  {social.NAME}
                </Link>
              ))}
              <Link 
                href={`mailto:${SITE.EMAIL}`}
              >
                Email
              </Link>
            </div>
          </div>
        </section>
      </div>
    </div>
  </Container>
</Layout>
